<div class="container">
<div class="cards">
  <%= image_tag("1.jpeg", class: "card-category") %>
  <%= image_tag("2.jpeg", class: "card-category") %>
  <%= image_tag("3.jpeg", class: "card-category") %>
  <%= image_tag("4.png", class: "card-category") %>
  <%= image_tag("5.png", class: "card-category") %>
  <%= image_tag("6.png", class: "card-category") %>
  <%= image_tag("7.png", class: "card-category") %>
  <%= image_tag("8.png", class: "card-category") %>
  <%= image_tag("9.png", class: "card-category") %>
</div>

