<div class="container">
  <div class="summary">
    <p>For the past two years, I have been the Innovation Lead at <%= link_to "SOSA", "https://sosa.co", class: "twitter-name", target: :_blank %> (a global corporate innovation platform) and have worked with global multinational corporations who seek for new and innovative technologies to engage with.</p>
    <p>I understand their needs and pains, and connected them with the relevant technologies from the tech ecosystem. From sourcing new technologies and ideas to keeping close connection with the Israeli startup ecosystem, my goal is to bring the best solutions to my partners (<%= link_to "Royal Bank of Canada", "https://www.rbcroyalbank.com/personal.html", class: "twitter-name", target: :_blank %>,
      <%= link_to "Zurich Insurance", "https://www.zurich.com/", class: "twitter-name", target: :_blank %> among others).</p>
    <p>Prior to that, I worked work at <%= link_to "Apple", "https://apple.com", class: "twitter-name", target: :_blank %>, in their European Headquarters, working with customers on a daily-basis on specific issues on the App Store. I also have experience working with early stage startup such as <%= link_to "Evolita", "http://beta.evolita.com/", class: "twitter-name", target: :_blank %>.</p>
    <p>I love connecting companies, teams, and ideas. As a innovation consultant, what matters to me most is enabling the Israeli startup ecosystem to do their best work with international corporations. My professional interests include strategy & operations, design thinking, and emerging technologies.</p>
  </div>
</div>
