<div class="container">
  <div class="summary">
    <p>
      The last few years in Israel have sparked my passion for <strong>innovation</strong>.
      <br>
      <br>
      I spent the last two years as the <strong>Corporate Innovation Manager</strong> <%= link_to "SOSA", "https://sosa.co", class: "twitter-name", target: :_blank %>, a global corporate innovation platform.
      I was working directly with global multinationals seeking new and innovative technologies to engage with, and introducing them to relevant startups/technologies in the Israeli ecosystem. 
      <br>
      <br>
      From sourcing new technologies and ideas to nurturing close relationships with the Israeli startup ecosystem,
      I helped my partners take a step forward in their innovation journeys. Clients included <%= link_to "Royal Bank of Canada", "https://www.rbcroyalbank.com/personal.html", class: "twitter-name", target: :_blank %>, <%= link_to "Zurich Insurance", "https://www.zurich.com/", class: "twitter-name", target: :_blank %>, <%= link_to "Singha Ventures", "http://singha-ventures.com/", class: "twitter-name", target: :_blank %>, <%= link_to "WorldQuant Ventures", "https://worldquantventures.com/", class: "twitter-name", target: :_blank %>, <%= link_to "Siri Ventures", "https://www.siriventures.vc/", class: "twitter-name", target: :_blank %>  .
      <br>
      <br>
      I also worked as a <strong>Customer Success Manager</strong> at <%= link_to "Apple", "https://apple.com", class: "twitter-name", target: :_blank %>, in Apple’s European Headquarters in Cork, Ireland. This experience taught me how to resolve complex issues and conflicts with customers while providing a best-in-class customer service.
      <br>
      <br>
      I also have experience working with early stage startups, and worked as a <strong>Data Analyst</strong> at <%= link_to "Evolita", "http://beta.evolita.com/", class: "twitter-name", target: :_blank %> (big data analytics) and as <strong>Campaign Manager</strong> at <span style="color: #d15b57">Black Angus</span> (digital marketing agency).
      <br>
      <br>
      Overall, I hope that my experiences show that I love connecting companies, teams, and ideas. As an innovation consultant, what matters most to me is enabling the Israeli startup ecosystem to do their best work with international corporations. My professional interests include strategy & early-stage startups, design thinking, and emerging technologies.
    </p>
  </div>
</div>
